.jumbotron {
    background: url('../images/SpringCoreJumbotron.jpg') no-repeat center center;
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
}

body {
    color: #2b3636;
    font-family: "Proxima";
}

body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

h3 {
    text-align: left;
}

label {
    text-align: left;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table#letenky {
    width: 100%;
    background-color: #f1f1c1;
}

table#letenky tr:nth-child(even) {
    background-color: #eee;
}
table#letenky tr:nth-child(odd) {
    background-color: #fff;
}
table#letenky th {
    color: white;
    background-color: black;
}

li {
    display: inline;
    float: left;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

.container {
    max-width:500px;
    margin-top:15px;
    margin-left:10px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}


.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

