<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Letenky pro Vás</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>


    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
</div>

<ul class="navbar">
    <li class="navbar"><a class="active" href="/cities" th:href="@{/cities}">Výběr míst</a></li>
    <li class="navbar"><a href="/flights" th:href="@{/flights}">Letenky</a></li>
    <li class="navbar"><a href="/settings" th:href="@{/settings}">Nastavení hledání</a></li>
</ul>


<div class="form">
    <h1>Location</h1>
    <form action="#" th:action="@{/addcity}" th:object="${location}" method="post">
        <p>Id: <input type="text" th:field="*{locationId}" /></p>
        <p>City: <input type="text" th:field="*{city}" /></p>
        <p>Country: <input type="text" th:field="*{country}" /></p>
        <p>Code: <input type="text" th:field="*{code}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>


</body>
</html>