<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Letenky pro Vás</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link src="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <p class="lead" th:text="#{index.courses.tagline}">Tag line</p>
    </div>
</div>


<ul class="navbar">
    <li class="navbar"><a href="/cities" th:href="@{/cities}">Výběr míst</a></li>
    <li class="navbar"><a class="active" href="/flights" th:href="@{/flights}">Letenky</a></li>
    <li class="navbar"><a href="/settings" th:href="@{/settings}">Nastavení hledání</a></li>
</ul>
<!--<ul class="navbar navbar-right">-->
    <!--<li class="navbar" th:if="${#authorization.expression('!isAuthenticated()')}">-->
        <!--<a href="/registration" th:href="@{/templates/registration.html}>Registration</a>-->
    <!--</li>-->
    <!--<li class="navbar" th:if="${#authorization.expression('!isAuthenticated()')}">-->
        <!--<a href="/signin" th:href="@{/templates/signin.html}">Sign in</a>-->
    <!--</li>-->
    <!--<li class="navbar" th:if="${#authorization.expression('isAuthenticated()')}">-->
        <!--<a href="/logout" th:href="@{/templates/logout.html}">Logout</a>-->
    <!--</li>-->
<!--</ul>-->

<div class="container">
    <div class="col-md-8 col-md-offset-2" style="overflow-x:auto;">
        <h3>Letenky</h3>
        <table id="letenky" style="width:100%">
            <tr>
                <th><h6>City From</h6></th>
                <th><h6>City To</h6></th>
                <th><h6>Price</h6></th>
                <th><h6>Average price</h6></th>
                <th><h6>Fly duration minutes</h6></th>
                <th><h6>Date</h6></th>
            </tr>

            <tr th:each="flight : ${flights}">
                <td th:text="${flight.cityFrom}">CityFrom</td>
                <td th:text="${flight.cityTo}">CityTo</td>
                <td th:text="${flight.price}">Price</td>
                <td th:text="${flight.avgPrice}">Avegare price</td>
                <td th:text="${flight.flyDurationMinutes}">FlyDurationMinutes</td>
                <td th:text="${flight.depDate}">Price</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>