<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nastavení hledání</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <h1 th:text="#{index.page.title}">Test</h1>
        <p class="lead" th:text="#{index.courses.tagline}" th:remove="tag">Tag line</p>
    </div>
</div>
</body>
</html>