<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <h1 th:text="#{index.page.title}"></h1>
        <p class="lead" th:text="#{index.courses.tagline}">Tag line</p>
    </div>
</div>

<ul class="navbar">
    <li class="navbar"><a class="active" href="/cities" th:href="@{/vyber-mist.html}">Výběr míst</a></li>
    <li class="navbar"><a href="/flights" th:href="@{/prehled-letenek.html}">Letenky</a></li>
    <li class="navbar"><a href="/settings" th:href="@{/nastaveni-hledani.html}">Nastavení hledání</a></li>
</ul>
<ul class="navbar navbar-right">
    <li class="navbar" th:if="${#authorization.expression('!isAuthenticated()')}">
        <a href="/registration" th:href="@{/templates/registration.html}>Registration</a>
    </li>
    <li class="navbar" th:if="${#authorization.expression('!isAuthenticated()')}">
        <a href="/signin" th:href="@{/templates/signin.html}">Sign in</a>
    </li>
    <li class="navbar" th:if="${#authorization.expression('isAuthenticated()')}">
        <a href="/logout" th:href="@{/templates/logout.html}">Logout</a>
    </li>
</ul>

<form>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <h3>Registrace</h3>
                <br>
                <div>
                <form class="form-horizontal" th:object="${registrationCommand}" th:action="@{/login}" method="post">
                    <div class="form-group"
                         th:class="${#fields.hasErrors('login')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Login:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="login" id="login"/>
                            <br>
                        </div>
                    </div>
                    <div class="form-group"
                        th:class="${#fields.hasErrors('firstname')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Jméno:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="firstname" id="firstname"/>
                            <br>
                        </div>
                    </div>
                    <div class="form-group"
                        th:class="${#fields.hasErrors('lastname')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Příjmení:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lastname" id="lastname"/>
                            <br>
                        </div>
                    </div>
                    <div class="form-group"
                         th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Heslo:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="password" id="password"/>
                            <br>
                        </div>
                        <br>
                    </div>
                    <div class="form-group"
                         th:class="${#fields.hasErrors('password_twice')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Heslo znovu:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="password_twice" id="password_twice"/>
                            <br>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default">Uložit</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</form>



</body>
</html>